* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

main {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
}

body {
  background-color: white;
  color: #242828;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
  line-height: 1.1;
  margin: 2% 2% 2% 2%;
  /*min-height: 100vh;*/
  /*overflow-wrap: break-word;*/
  /* border: 1px solid blue;*/
}

.u-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
}

h1,
h4,
p,
span,
ul {
  font-size: 2vw;
}

.conference-title,
h2,
h3 {
  font-size: 3.5vw;
}

section {
  text-transform: uppercase;
}

p, span {
  margin-left: 6vw;
}

span {
  display: block;
}

.information, .artist-name {
  margin-left: 0px;
}

#leftcolumn {
  grid-column-start: 1;
  grid-column-end: 2;
  overflow-wrap: break-word;
  hyphens: auto;
}

#centercolumn {
  font-size: fluid;
  grid-column: 2/3;
}

#rightcolumn {
  grid-column: 3/4;
}

/*
#events {

}

#about {
    margin-top: 25vw;
}
*/
