* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  background-color: whitesmoke;
  color: #242828;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
  text-transform: uppercase;
  line-height: 1.2;
  /*min-height: 100vh;*/
  /*overflow-wrap: break-word;*/
  /* border: 1px solid blue;*/
}

@media (min-width: 200px) {
  main {
    margin: 2% 2% 2% 2%;
    display: grid;
    max-width: 100vw;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(10, 10%);
    column-gap: 2%;
    row-gap: 2%
    /*grid-auto-rows: minmax(10em, auto);*/
  }
}

.u-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
}

h1, h4, p, span, ul {
  font-size: 2vw;
}

.conference-title,
h2,
h3 {
  font-size: 3vw;
}

section {
  text-transform: uppercase;
}

p, span {
  margin-left: 6vw;
}

span {
  display: block;
}

.artist-name {
  margin-left: 0px;
}

.indented {
  margin-left: 6vw;
}

.large-font {
  font-size: 3vw;
  font-weight: bold;
}

.small-font {
  font-size: 2vw;
}
/*
#leftcolumn {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-wrap: break-word;
    hyphens: auto;
}

#centercolumn {
    font-size: fluid;
    grid-column: 2 / 3;
}

#rightcolumn {
    grid-column: 3 / 4;
}
*/
/*
#events {

}

#about {
    margin-top: 25vw;
}
*/


.item:nth-child(1) {
    overflow-wrap: break-word;
    hyphens: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    background: blue;

}

.item:nth-child(2) {
grid-column: 1/2;
grid-row: 3/10;
background: red;
}

.item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/4;
    background: purple;
    }

.item:nth-child(4) {
  grid-column: 2/3;
  grid-row: 4/8;
  background:greenyellow;
      }   
      
.item:nth-child(5) {
  grid-column: 2/3;
  grid-row: 8/9;
  background: yellow;
}

.item:nth-child(6) {
  grid-column: 2/3;
  grid-row: 9/10;
  background: silver;
}

.item:nth-child(7) {
  grid-column: 3/4;
  grid-row: 1/3; 
  background: burlywood;
}

.item:nth-child(8) {
  grid-column: 3/4;
  grid-row: 3/8;
  background: lightblue;
}

.item:nth-child(9) {
  grid-column: 3/4;
  grid-row: 8/10;
  background: lightblue;
}
