* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.background-grid {
  display: grid;
  margin: 2% 2% 2% 2%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
}

body {
  background-color: white;
  color: #242828;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
  line-height: 1.2;
  overflow-wrap: break-word;
  /*min-height: 100vh;*/
  /* border: 1px solid blue;*/
}

h1,
h2,
h3 {
  font-size: 4vw;
}

h4,
p {
  font-size: 2vw;
}

section {
  text-transform: uppercase;
}

p {
  margin-left: 10vw;
}

.information, .artist-name {
  margin-left: 0px;
}

#leftcolumn {
  grid-column: 1/2;
  align-self: center;
}

#centercolumn {
  grid-column: 2/3;
  align-self: center;
}

#rightcolumn {
  grid-column: 3/4;
  align-self: center;
}
