* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.background-grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
}

body {
    background-color:white; 
    color: hsl(190, 5%, 15%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
    line-height: 1.2;
    margin: 2% 2% 2% 2%;
    font-size: 2vw;
    /*min-height: 100vh;*/
    /*overflow-wrap: break-word;*/
    /* border: 1px solid blue;*/
}

h1,
h2, 
h3 {
    font-size: 1.5em;
}

section {
    text-transform: uppercase;
}

p {
    margin-left: 6vw;
}

.information, .artist-name {
    margin-left: 0px;
}


main #leftcolumn {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-wrap: break-word;
    hyphens: auto;
}

main #centercolumn {
    grid-column: 2 / 3;
}

#rightcolumn {
    grid-column: 3 / 4;
}


#events {
    margin-top: 25vw;
}

#about {
    margin-top: 25vw;
}

